@import 'tailwindcss';
/* @plugin '@tailwindcss/typography'; */
:root {
    --color-cab18a:#CAB18A;
    --color-5c524b: #5C524B;
    --color-cccccc: #CCCCCC;
}
@layer utilities {
    .font-roboto {
        font-family: 'Roboto', sans-serif;
    }

    .font-source {
        font-family: "Source Serif 4", serif;
    }

    .bg-header-img {
        background: url('/img/header-2xl.jpg') no-repeat center/cover; 
    }

    .color-cab18a {
        color: var(--color-cab18a);
    }

    .color-5c524b {
        color: var(--color-5c524b);
    }

    .color-cccccc {
        color: var(--color-cccccc);
    }

    .main-title {
        @apply text-6xl font-semibold text-center; 
        font-family: "Source Serif 4", serif;
    }

    .bg-about-as {
        background: linear-gradient(360deg, #EEE7DA 4.75%, rgba(255, 255, 255, 0.1) 100%);
    }

    .team-title {
        @apply text-3xl font-semibold;
        font-family: "Source Serif 4", serif;
    }

    .color-292424 {
        color: #292424;
    }
}

@layer base {
    .container {
        @apply px-5 mx-auto;
    }
}